.pphoki { background-color: #620500;}
.hoki177 { background-color: #5b0002;}
.tokekwin { background-color: #934b84;}
.lotto01 { background-color: #22c16a;}
.utama1 { background:radial-gradient(ellipse farthest-corner at right bottom, #b8c4c5 0%, #a6b1b1 8%, #9fa7a6 30%, #c3c3c3 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #b3cfcd 0%, #c0e3e3 8%, #dff1f1 25%, #bdede9 62.5%, #739999 100%)}
