body{
overflow-x: hidden;
}

#hideidx {
  display: none;
}
.gambardm {
    position: relative;
    top: 1%;
    left: 0%;
    width: 20%;
    height: auto;
    padding: 5% 1% 1% 1%;
}
.tomboldm {
width: 72%;
height: auto;
margin: 0% 14%;
}
.textdm {
color: #fff;
padding:0% 14% 5% 14%;
}
.bodydm {
background-color: #000;
padding: 0% 0% 14% 0%;
margin: -2% 0% -2% 0%;
}
.imglink {
position:absolute;
top:0%;
height:auto;
width:1px;
}

.logojs {
position: relative;
top:0%;
height:auto;
width:15%;
margin:0.1% 43.5% 0% 43.5%;
}

.marquee1 {
width:100%;
}

.menu1{width: 100%;text-align: center;padding:0% 0% 0% 0%;}

.tombol {
  position:relative;
  left:0%;
  padding:0px 0px 0px 0px;
  margin: 2px 1px 0px 1px;
  font-family: revert-layer;
  font-size: 16px;
  line-height: inherit;
  width: 21.8%;
  height: 70px;
  border-radius: 25px;
  border: 3px ridge;
  border-color:silver;
  font-weight: bold;
  color: black;
  cursor: pointer;
  background:linear-gradient(to right,#818f8c 2%, #9dadad 88%, #8e9796 100%);
}

.tombol:hover {
  background-color: #00ffc4;
}

.joinBtn {
  width: 100%;
  height: 100%;
  background-color: #424f4e;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.joinBtn:hover {
  background-color: #00ffc4;
}

.img-menu {
  width: 60px;
  height: 100%;
}

.shadow-menu{
  text-align:center;
  text-shadow: 0px 0px 2px #222,
               0px 0px 2px #222;
  animation: flickermenu 1s infinite alternate; 
}
/* Flickering animation */
@keyframes flickermenu {
    
  0%, 0%, 0%, 0%, 0%, 0%, 100% {

      text-shadow:
      0 0 2px aqua,
      0 0 2px aqua,
      0 0 2px aqua,
      0 0 2px aqua,
      0 0 2px aqua,
      0 0 2px aqua,
      0 0 2px aqua,
      0 0 2px aqua;
  
  }
  100%, 100%, 100% {        
      text-shadow: none;
  }    
}

.text {
    color: #555;
}

.tutoroverlay {
  text-align-last:left;
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: auto;
  transition: 0.5s;
}

.tutoroverlay-content {
  background-color:#979797;
  position: relative;
  top: 9%;
  width: 95%;
  text-align: initial;
  margin: 20px 0px 0px 2%;
  padding:2% 3%;
  border-radius:10px;
}

.tutoroverlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.tutoroverlay p {
  color: #0b1212;
    font-family: Helvetica, Serif;
    font-size: 18px;
    margin: 15px 0 0em;
}

.tutoroverlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.tutoroverlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .tutoroverlay {overflow-y: auto;}
  .tutoroverlay a {font-size: 20px}
  .tutoroverlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}


.tposisi{
height:30px;              
text-align:start;
background-color:#0000;
margin: 0% 0% 1.6% 0%;
font-size: 25px;
}

.shadow-tut {
  text-align:center;
  text-shadow: 0px 0px 2px #222,
               0px 0px 2px #222;
font-size: 0.5rem;
  animation: flickertut 1.5s infinite alternate; 
}
/* Flickering animation */
@keyframes flickertut {
    
  0%, 0%, 0%, 0%, 0%, 0%, 100% {

      text-shadow:
      0 0 20px aqua,
      0 0 20px aqua,
      0 0 20px aqua,
      0 0 20px aqua,
      0 0 20px aqua,
      0 0 20px aqua,
      0 0 20px aqua,
      0 0 20px aqua;
  
  }
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}
.shadow-win {
  text-align:center;
  text-shadow: 0px 0px 2px #222,
               0px 0px 2px #222;
font-size: 0.5rem;
  animation: flickerwin 0.1s infinite alternate; 
}
/* Flickering animation */
@keyframes flickerwin {
    
  0%, 0%, 0%, 0%, 0%, 0%, 100% {

      text-shadow:
      0 0 2px red,
      0 0 2px red,
      0 0 2px red,
      0 0 2px red,
      0 0 2px red,
      0 0 2px red,
      0 0 2px red,
      0 0 2px red;
  
  }
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

.logonormal, .logokecil, .logomedium, .logopanjang {
  object-fit:scale-down;
}
  
.logonormal {
  height:65%;
  width:80%;
} 
  
.logokecil {
  margin:2% 0% 0px 0%;
  height:90%;
  width:50%;
} 
  
.logomedium {
  height:80%;
  width:70%;
} 
  
.logopanjang {
  margin:4% 0% 0px -4%;
  height:45%;
  width:95%;
} 
  
.namasitus {
  color: #516fe3; 
  font-size: 0px;
}  
  
.fb, .tawk, .tutup {
  color:white;
  border-radius:25px;
  font-weight:900;
  font-size:20px;
  float: left;
  height:50px;
  width: 31.3%;
  margin:0% 1%;
  border-bottom:ridge;
  text-overflow: ellipsis;
  text-shadow: 2px 1px 0px rgba(39 36 36 / 75%),
              0px 0px 5px rgba(2 2 2 / 75%);
}
.tutup {
  background:linear-gradient(to right,#787976 2%, #9dadad 88%, #8e9796 100%);
}
.tutup:hover {
  background:linear-gradient(to right,#fff 2%, #fff 88%, #fff 100%);
}
.tawk {
  background:linear-gradient(to right, #317542 2%, #45b260 88%, #30c054 100%);
}
.tawk:hover {
  background:linear-gradient(to right, #00ff72 2%, #00ff72 88%, #00ff72 100%);
}
.fb {
  background:linear-gradient(to right, #21097f 2%, #3611c7 88%, #3300fd 100%);
}
.fb:hover {
  background:linear-gradient(to right, #0866ff 2%, #0866ff 88%, #0866ff 100%);
}

.warnatextchat {
  font-size: xx-large;
  color: #73ff48;
  text-shadow: 2px 1px 0px rgba(39 36 36 / 75%),
              0px 0px 5px rgba(2 2 2 / 75%);
}
  
.videocara {
  height: 450px;
  width: 100%;
  border-radius:10px;
}

.warnabahaya {
  font-size: xx-large;
  color: red;
  text-shadow: 2px 1px 0px rgba(39 36 36 / 75%),
              0px 0px 5px rgba(2 2 2 / 75%);
}

.cancelbtn1, .deletebtn1, .cancelbtn2 {
  font-weight:900;
  border-radius:25px;
  color:white;
  font-size:20px;
  float: left;
  height:50px;
  margin:0% 1%;
  border-bottom:ridge;
  text-overflow: ellipsis;
  text-shadow: 2px 1px 0px rgba(39 36 36 / 75%),
              0px 0px 5px rgba(2 2 2 / 75%);
}

.deletebtn1 { width: 48%; }
.cancelbtn1 { width: 48%; }
.cancelbtn2 { width: 98%; }

/* Add a color to the cancel button */
.cancelbtn1 {
  background:linear-gradient(to right,#2b4732 2%, #507f5c 88%, #507f5c 100%);
}
.cancelbtn1:hover {
  background:linear-gradient(to right,#00ffc4 2%, #00ffc4 88%, #00ffc4 100%);
}

.cancelbtn2 {
  background:linear-gradient(to right,#2b4732 2%, #507f5c 88%, #507f5c 100%);
}
.cancelbtn2:hover {
  background:linear-gradient(to right,#00ffc4 2%, #00ffc4 88%, #00ffc4 100%);
}

/* Add a color to the delete button */
.deletebtn1 {
  background:linear-gradient(to right,#380b0bfa 2%, #6d1818fa 88%, #890000fa 100%);
}
.deletebtn1:hover {
  background:linear-gradient(to right,#ff0000 2%, #ff0000 88%, #ff0000 100%);
}

.ttpupdatelink {
  margin:15px 0px 0px 0px;
  border-radius:25px;
  font-size:20px;
  float: left;
  height:50px;
  width: 90%;
  margin:0% 5%;
  color: white;
  border-bottom:ridge;
  text-shadow: 2px 1px 0px rgba(39 36 36 / 75%),
              0px 0px 5px rgba(2 2 2 / 75%);
background:linear-gradient(to right, #317542 2%, #45b260 88%, #30c054 100%);
}
.ttpupdatelink:hover {
background:linear-gradient(to right, #00ffd4 2%, #00ffd4 88%, #00ffd4 100%);
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  font-size:7px;
  text-align: center;
}

/* The Modal (background) */
.modalbahaya1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #0000;
  padding-top: 50px;
}

/* Modal Content/Box */
.modalbahaya1-content {
  background-color: #a1afae;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 2px ridge #89ada5;
  border-radius:35px;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfixbahaya::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
} 

.bgbahaya, .bgwaspada, .bgdomain, .bgchatadmin {
  background-repeat:no-repeat;
  background-position:top;
  height:auto;
}  

.color-red{
    color: #F00;
}
.color-green{
    color: #04ff00;
}

.color-yellow{
    color: #fcff01;
}

.color-blue{
    color: #2b00fe;
}
  
.keterangan-font-size{
    padding:20px;
    text-align:left;
    letter-spacing:0px;
    font-size: 200%;
    font-weight: revert-layer;
    font-family:monospace;
    color: #444444;
}
  
.groupsm {
  padding: 0 0px;
  height:70px;
  width: 100%;
}   
.groupssemua, .groupsaman, .groupswaspada, .groupsbahaya, .groupsupdatelink{
  font-weight:900;
  position:relative;
  color:#fff;
  border-radius:25px;
  border-bottom:ridge;
  padding: 0 0px;
  margin:3px;
  float: left;
  height:50px;
  width: 18.0%;
  text-overflow: ellipsis;
  text-shadow: 2px 1px 0px rgba(39 36 36 / 75%),
              0px 0px 5px rgba(2 2 2 / 75%);
}  
 .groupssemua {
  background:linear-gradient(to right,#787976 2%, #9dadad 88%, #8e9796 100%);
} 
 .groupsaman {
  background:linear-gradient(to right, #317542 2%, #45b260 88%, #30c054 100%);
} 
.groupsaman:hover {
  background:linear-gradient(to right,#00ffc4 2%, #00ffc4 88%, #00ffc4 100%);
}
.groupswaspada {
  background:linear-gradient(to right,#5b5f15 2%, #919729 88%, #a5af00 100%);
} 
.groupswaspada:hover {
  background:linear-gradient(to right,#fff000 2%, #fff000 88%, #fff000 100%);
}
.groupsbahaya {
  background:linear-gradient(to right,#380b0bfa 2%, #6d1818fa 88%, #890000fa 100%);
}
.groupsbahaya:hover {
  background:linear-gradient(to right,#ff0000 2%, #ff0000 88%, #ff0000 100%);
}  
.groupsupdatelink {
  background:linear-gradient(to right,#1e4252 2%, #0a4c48 88%, #005872 100%);
} 
 
  
.responsiveaman, .responsivewaspada, .responsivebahaya {
  border-radius:25px;
  padding: 0 0px;
  float: left;
  height:70px;
  width: 97%;
}

@media only screen and (max-width: 700px) {
  .responsiveaman, .responsivewaspada, .responsivebahaya{
    margin: 0px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsiveaman, .responsivewaspada, .responsivebahaya {

  }
}
.responsiveaman {
  background:linear-gradient(to right, #317542 2%, #45b260 88%, #30c054 100%);
}
.responsiveaman:hover {
  background:linear-gradient(to right,#00ffc4 2%, #00ffc4 88%, #00ffc4 100%);
}
.responsivewaspada {
  background:linear-gradient(to right,#5b5f15 2%, #919729 88%, #a5af00 100%);
}
.responsivewaspada:hover {
  background:linear-gradient(to right,#ccc113 2%, #e4d704 88%, #fff000 100%);
}
.responsivebahaya {
  background:linear-gradient(to right,#440000fa 2%, #6c0000fa 88%, #890000fa 100%);
}
.responsivebahaya:hover {
  background:linear-gradient(to right,#ff0000 2%, #ff0000 88%, #ff0000 100%);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  position: relative;
  border-radius:28px;
  width: 95%;
  height:70px;
  left:1.5%;
  font-size: 20px;
  padding: 0% 2% 0% 2%;
  border: 1px solid #ddd;
  margin: 0% 2% 2% 2%;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.textmenu {
font-weight:900;
position:relative;
top:0%;
text-align: center;
font-size: 100%;
margin-bottom: 3.01%;
white-space: nowrap;
border: 1px solid #0000;
padding:0px 0% 0px 0%;
overflow: hidden;
text-overflow: ellipsis;
text-shadow: 2px 1px 0px rgba(39 36 36 / 75%),
              0px 0px 5px rgba(2 2 2 / 75%);
}

.ket1 {height: auto;left: 70%;margin: -16px 0px -7px;padding: 0px;text-align: center;top: 0px;width: 100%;color: black;font-family: arial;}
.ket2 {font-size: 110%;margin-left: 1em; margin-right: 1em;}
.jalan1 {color: black;font-family: arial;font-size: 80%;}

.hidescroll {
padding: 0% 1%;
background-color:transparent;
width: 100%;
height: auto;
overflow-y: scroll; /* Add the ability to scroll */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hidescroll::-webkit-scrollbar {
display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hidescroll {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: auto;  /* Firefox */
}

.shadow-chat {text-shadow: 0px 0px 2px #222,0px 0px 2px #222;font-size: 0.5rem;
  animation: flickerchat 1.5s infinite alternate; }/* Flickering animation */
@keyframes flickerchat {0%, 0%, 0%, 0%, 0%, 0%, 100% {text-shadow:0 0 3px #09e6a8,0 0 3px #09e6a8,0 0 3px #09e6a8,0 0 3px #09e6a8,0 0 3px #09e6a8, 0 0 3px #09e6a8,0 0 3px #09e6a8,0 0 3px #09e6a8;} 20%, 24%, 55% {        text-shadow: none;}    }

.shadow-fbdemo {text-shadow: 0px 0px 0.1px #222,0px 0px 0.1px #222;font-size: 0.1rem;
  animation: flickerfbdemo 2.5s infinite alternate; }/* Flickering animation */
@keyframes flickerfbdemo {0%, 0%, 0%, 0%, 0%, 0%, 100% {text-shadow:0 0 10px #087525,0 0 10px #087525,0 0 10px #087525,0 0 10px #087525,0 0 10px #087525,0 0 10px #087525,0 0 10px #087525, 0 0 10px #087525;} 20%, 24%, 55% {  text-shadow: none;}}
  
.card{float:left;width:11.1%;background:0 0;border:none;text-align:center;display:inline-grid;position:relative}.card-content{margin:5px 2px;color:#fff;font-size:12px;border:revert-layer;overflow:hidden;border-radius:25px;border-color:silver;position:relative}
                        
@media(max-width:1230px){.slot-sidebar-nav{flex-wrap:nowrap}
.card{width:33.3%!important} 

@media(max-width:990px){.mobilesetingnow{flex-wrap:nowrap}                       
.textmenu {font-size: 67%;}
                     
@media(max-width:550px){.mobilesetingnow{flex-wrap:nowrap}
